[flake8]
# References:
#   https://flake8.pycqa.org/en/latest/user/options.html
#   https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes

max-complexity = 10
# Ignores as suggested on Yammer
# E123, E133 describe styles for closing bracket.
# E226 Due to whitespace around operators (e.g. 2*x + 3).
# W503 Break before binary operator is preferred by PEP8
# E721 do not compare types, use 'isinstance()' - need to compare type of 2
#      objects. When using later versions of flake8 will be possible
#       to apply this ignore to only 1 file.
# E402 module level import not at top of file - violated by setting Agg
#
# These are ones we want to remove later but keep for now. Need issues for
# these. In order of importance
# F821 looks like a bug in visualisation.py:146:28: F821 undefined name 'np'
# F841 bug? local variables latloncube latlon_coord assigned to but never used
# C901 function too complex
#
# These all relate to use of * imports
# F403 import *' used; unable to detect undefined names
# F405 may be undefined, or defined from star imports
# F401 imported but unused - causes failure in test_visualisation due to
#      use of wildcard import. Rethink approach here?
ignore = E123, E133, E226, W503, C901, F405, E721, E402, F821, F403, F841, F401

# Black compatibility:
max-line-length = 88
extend-ignore = E203


count = True
max-doc-length = 88
statistics = True
doctests = True
include_in_doctest =
    lib/catnip/preparation.py,
    lib/catnip/analysis.py,
    lib/catnip/utils.py

exclude =
    # ignore the following directories/files
    docs,
    docsrc,
    .git,
    __pycache__,
    pytest.ini,
    .pytest_cache,
    data,
    *.pyc,
    runAll.py,
    testconf.py
