[flake8]
# References:
#   https://flake8.pycqa.org/en/latest/user/options.html
#   https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes

max-complexity = 10
# Ignores as suggested on Yammer
# E123, E133 describe styles for closing bracket.
# E226 Due to whitespace around operators (e.g. 2*x + 3).
# W503 Break before binary operator is preferred by PEP8
# These are ones we want to remove later but keep for now
# C901 function too complex
# F405  may be undefined, or defined from star imports

ignore = E123, E133, E226, W503, C901, F405

# Black compatibility:
max-line-length = 88
extend-ignore = E203


count = True
max-doc-length = 88
statistics = True
doctests = True
include_in_doctest =
    lib/catnip/preparation.py,
    lib/catnip/analysis.py,
    lib/catnip/utils.py

exclude =
    # ignore the following directories/files
    docs,
    docsrc,
    .git,
    __pycache__,
    pytest.ini,
    .pytest_cache,
    data,
    *.pyc,
    runAll.py,
    testconf.py
